body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0vh;
  /* padding-bottom : 0vh; */
}
.first_container{
  margin: 0vh;
  padding: 0vh;
  display: flex;
  flex-direction: row;
}
.container-line-one{
  width: 100vh;
  height: 60vh;
  background-color: rgb(121, 204, 214);
  color: white;
 text-align: center;
}
.text{
  padding-top: 10vh;
  font-size: 10vh;
  
}
.container-line-two{
  font-style: italic;
  
}
.text-line-two{
  padding-top: 10vh;
  font-size: 4vh;
  padding-left: 18vh;
  color: gray;
}
.second-container{
  margin: 0vh;
  padding: 0vh;
  display: flex;
  flex-direction: row;
}
.header_of_second_conteiner{
  color:rgb(121, 204, 214);
  font-size: 4vh;
  margin-left: 7vh;
  margin-top: 10vh;
}
.text_of_second_conteiner{
  margin-left: 7vh;
  color: gray;
}
.second_section_button{
  margin-left: 50vh;
  background-color: rgb(23, 153, 152);
  border: none;
  color: white;
  width: 40vh;
  height: 9vh;
  font-size: 4vh;
}
.button_text{
  margin-top: 2vh;
}
.second_img_container{
  margin-left: 10vh;
  background-color: rgb(121, 204, 214);
  width: 150vh;
}
.img_for_second_container{
  width: 38vh;
  height: 38vh;
  margin-left: 40vh;
  margin-top: 10vh;
  border-radius: 50%;
}
.second_img_container_text{
  margin-left: 30vh;
  color: white;
}
.img_for_third_container{
  width: 100vh;
}
.text_of_third_container{
  color: gray;
  margin-left: 10vh;
  font-size: 4vh;
  margin-top: 10vh;
}
.text_of_third{
  margin-left: 10vh;
  font-size: 3vh;
  color: grey;
}
.third_section_button{
  margin-left: 30vh;
  background-color: rgb(23, 153, 152);
  border: none;
  color: white;
  width: 40vh;
  height: 9vh;
  font-size: 4vh;
}
.firth_section_button{
  margin-left: 75vh;
  background-color: rgb(23, 153, 152);
  border: none;
  color: white;
  width: 40vh;
  height: 9vh;
  font-size: 4vh;
}
.right_side{
  margin-left: 30vh;
}
.img_of_firth_container{
  height: 100vh;
}
.header_of_card{
  background-color: rgb(23, 153, 152);
  color: white;
  font-size: 4vh;
  width: 58vh;
  height: 20vh;
  text-align: center;
  padding-top: 0.5vh;
}
.second_section{
  margin-top: 3vh;
  border: solid;
  border-color: rgb(23, 153, 152);
  margin-left: 8vh;
  padding-top: 0vh;
  height: 90vh;
}
.text_of_header_card{
  padding-top: 1vh; 
}
.text_of_content{
  padding-top: 5vh;
  color: gray;
 margin-left: 5vh;
}
.btn_for_card{
  margin-top: 5vh;
  margin-left: 10vh;
  background-color: rgb(23, 153, 152);
  border: none;
  color: white;
  width: 40vh;
  height: 9vh;
  font-size: 4vh;
}
.header_for_application_lisy{
  background-color: rgb(51, 212, 211);
  color: white;
  height: 25vh;
}
.text_of_header_application_form{
  font-size: 5vh;
  margin-left: 30vh;
  padding-top: 6vh;
}
.left_side_of_form{
display: flex;
flex-direction: column;
}
.first_container_of_application{
  width: 190vh;
  top: 390%;
  display: flex;
  flex-direction: row;
  margin-left: 20vh;
  position: absolute;
  background-color: white;
  height: 90vh;
}
.input_of_form{
  width: 60vh;
  height: 10vh;
  margin-bottom: 1vh;
  margin-top: 5vh;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  margin-left: 10vh;
}
.input_of_form_text{
  width: 80vh;
  height: 50vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  margin-left: 30vh;
  margin-top: 10vh;
}
.btn_for_form{
  margin-top: 60vh;
  margin-left: 80vh;
  background-color: rgb(23, 153, 152);
  border: none;
  color: white;
  width: 40vh;
  height: 9vh;
  font-size: 4vh;
  position: relative;
}
footer{
  background-color: rgb(23, 153, 152);
  color: white;
}
.footer_left_side{
  margin-left: 40vh;
  margin-top: 10vh;
}
.footer_right_side{
  margin-top: 20vh;
  margin-left: 70vh;
}
.footer_left_side_header{
  font-size: 4vh;
}
.text-line-two:hover{
  color:rgb(23, 153, 152);
}
.text_of_second_conteiner:hover{
  color:rgb(23, 153, 152);
}
.second_section_button:hover{
  background-color: rgb(118, 205, 216);
}
.container_third_img:hover{
  transform: scale(1.1);
}
.firth_section_button:hover{
  background-color: rgb(118, 205, 216);
}
.right_side:hover{
  transform: scale(1.1);
}
.first_section:hover{
  transform: scale(1.1);
}
.second_section:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.1);
}
.btn_for_card:hover{
  background: #24d4d4;
}
/* Your code goes here */