body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.header-wrap {
  background-image: url("img/m-h-day.jpg");
  height: 101.5vh;
  width: 217vh;
  margin-left: -1.35vh;
  margin-top: -2vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 50%;
}

.landing-logo {
  margin-left: 20vh;
  background-attachment: none;
  display: inline-block;
  width: 10%;
}
.landing-logo img {
  float: left;
  padding-top: 3vh;
}
.landing-logo .logo-text {
  width: 10%;
  position: absolute;
  margin-left: 9vh;
  padding-top: -8vh;
  font-size: 120%;
  clear: both;
}
.landing-logo .logo-text .hiking-club-text {
  font-size: 70%;
}

.header_heading {
  width: 90%;
  font-size: 10vh;
  font-weight: 1;
  margin-left: 20vh;
  color: #202020;
}
.header_heading span {
  background-color: #23a0c5;
}

.header_text {
  margin-left: 20vh;
  color: #202020;
}

.join {
  padding-top: 6vh;
  margin-left: 20vh;
}
.join .login {
  margin-left: 25vh;
  color: white;
}
.join .header_button {
  background-color: #A1C935;
  border: none;
  width: 20vh;
  height: 7vh;
  color: white;
  font-size: 3vh;
}

.section_text {
  text-align: center;
  padding-top: 1%;
  font-size: 7vh;
}
.section_text span {
  background-color: #23a0c5;
}

.section_card_wrap {
  padding-left: 40vh;
  color: white;
}
.section_card_wrap .section_card {
  width: 120vh;
  height: 38vh;
  background-color: #21232e;
  margin: 4vh;
  border-radius: 1%;
  clear: both;
  padding-left: 4vh;
}
.section_card_wrap .section_card .section_card_img {
  float: left;
  width: 50vh;
  height: 30vh;
  padding-top: 4vh;
  border-radius: 3%;
}
.section_card_wrap .section_card .section_card_right_container {
  margin-left: 20vh;
}
.section_card_wrap .section_card .section_card_right_container .section_card_heading {
  font-size: 4vh;
  text-align: center;
  padding-top: 5vh;
}
.section_card_wrap .section_card .section_card_right_container .section_card_text, .section_card_wrap .section_card .section_card_right_container .section_link {
  margin: 3vh;
  margin-left: 35vh;
  font-size: 80%;
}
.section_card_wrap .section_card .section_card_right_container .section_link {
  margin-left: 30vh;
  color: white;
}

.section_banner {
  background-image: linear-gradient(to right, #A1C935, #23a0c5);
  z-index: 1;
  border-radius: 1%;
  width: 140vh;
  height: 20vh;
  margin-left: 30vh;
  margin-bottom: 100vh;
  position: absolute;
}
.section_banner .section_banner_heading {
  color: #202020;
  font-size: 4vh;
  font-weight: 600;
  margin-left: 14vh;
}
.section_banner .section_banner_heading span {
  background-color: #23a0c5;
}
.section_banner .section_banner_text {
  color: gray;
  margin-left: 14vh;
}
.section_banner .section_banner_button {
  background-color: #A1C935;
  border: none;
  width: 20vh;
  height: 7vh;
  color: white;
  font-size: 3vh;
  position: absolute;
  margin-left: 100vh;
  top: 6vh;
}

.footer {
  background-color: #21232e;
  position: relative;
  margin-left: -1.35vh;
  margin-top: 15vh;
  margin-bottom: -2vh;
  width: 217vh;
  height: 35vh;
  color: white;
}
.footer .footer_logo_landing-logo {
  margin-bottom: 10vh;
  margin-left: 20vh;
  background-attachment: none;
  display: inline-block;
  width: 10%;
  float: left;
}
.footer .footer_logo_landing-logo img {
  float: left;
  padding-top: 15vh;
}
.footer .footer_logo_landing-logo .logo-text {
  width: 10%;
  position: absolute;
  margin-left: 9vh;
  padding-top: 12vh;
  font-size: 120%;
  clear: both;
}
.footer .footer_logo_landing-logo .logo-text .hiking-club-text {
  font-size: 70%;
}
.footer .footer_text {
  clear: both;
  margin-left: 60vh;
  width: 30%;
  position: absolute;
  margin-top: 15vh;
  margin-left: 90vh;
}
.footer .footer-cr {
  margin-left: 150vh;
  float: right;
  position: absolute;
  margin-top: 15vh;
}

/*# sourceMappingURL=style1.css.map */
