/* Your code goes here */
body {
  padding: 0;
  margin: 0 0 5vh;

}
.header{
  display: grid;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 6vh; 
  
}
.day_of_weeks{
  font-size: 4vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
    margin-left: 10vh;
  margin-top: 10vh;
}
.our_days{
  display: grid;
  grid-template-columns: repeat(7, 25vh);
  margin-left: 25vh;
}
.our_day_of_previous_month{
  border: 1px solid grey;
  text-align: center;
  width: 20vh;
  height: 20vh;
  margin-top: 2vh;
  
}
.text_of_our_day_of_previous_month{
  margin-top: 8vh;
}
.our_day{
  text-align: center;
  width: 20vh;
  height: 20vh;
  background-color: rgb(232, 232, 232);
  margin-top: 2vh;
}
.text_of_our_day{
  margin-top: 8vh;
}