// Write your styles here


body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: $color_for_body;
  color: $color_for_header;
}


.header-wrap{
    background-image: url($img_for_header);
    height: 101.5vh;
    width: 217vh;
    margin-left: -1.35vh;
    margin-top: -2vh;
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: $persent_of_radius_bottom_right ;
}
.landing-logo{
    margin-left: 20vh;
    background-attachment: none;
    display: inline-block;
    width: 10%;
    img{
      float: left;
      padding-top: 3vh;
    }
    .logo-text{
      width: 10%;
       position: absolute;
       margin-left: 9vh;
       padding-top: -8vh;
       font-size: 120%;

      clear: both;
      .hiking-club-text{
        font-size: 70%;
      }
    }
}
.header_heading{
  width: 90%;
  font-size: 10vh;
  font-weight: 1;
  //position: absolute;
  margin-left: 20vh;
  color: $color_gray;
  span{
    background-color: $color_blue;
  }

}
.header_text{
  margin-left: 20vh;
  color: $color_gray;
}
.join{
  padding-top: 6vh;
  margin-left: 20vh;
  .login{
    margin-left: 25vh;
    color: $color_of_text_button;
  }
  .header_button{
    background-color: $button_color;
    border: none;
    width: 20vh;
    height: 7vh;
    color: $color_of_text_button;
    font-size: 3vh;
  }
}

.section_text{
  text-align: center;
  padding-top: 1%;
  font-size: 7vh;
  span{
    background-color: $color_blue;
  }
}
.section_card_wrap{
  padding-left: 40vh;
  color: $color_of_text_button;
  .section_card{
    width: 120vh;
    height: 38vh;
    background-color: $color_for_conteiner;
    margin: 4vh;
    border-radius: 1%;
    
    clear: both;
    padding-left: 4vh;
    .section_card_img{
      float: left;
      width: 50vh;
      height: 30vh;
      padding-top: 4vh;
      border-radius: 3%;
    }
    .section_card_right_container{
      margin-left: 20vh;
      .section_card_heading{
        font-size: 4vh;
        text-align: center;
        padding-top: 5vh;
      }
      .section_card_text{
        margin: 3vh;
        margin-left: 35vh;
        font-size: 80%;
      }
      .section_link{
        @extend .section_card_text;
        margin-left: 30vh;
        color: $color_of_text_button;

      }
    }
  }
}
.section_banner{
background-image: linear-gradient($gradient_for_footer) ;
z-index: 1;
border-radius: 1%;
width: 140vh;
height: 20vh;
margin-left: 30vh;
margin-bottom: 100vh;
position: absolute;

  .section_banner_heading{
  color: $color_gray;
  font-size: 4vh;
  font-weight: 600;
  margin-left: 14vh;
  span{
    background-color: $color_blue;
  }
  }
  .section_banner_text{
    color: $gray_for_footer;
    margin-left: 14vh;
  }
  .section_banner_button{
    background-color: $button_color;
    border: none;
    width: 20vh;
    height: 7vh;
    color: $color_of_text_button;
    font-size: 3vh;
    position: absolute;
    margin-left: 100vh;
    top: 6vh;
  }
}
.footer{
  background-color: $color_for_conteiner;
  position: relative;
  margin-left: -1.35vh;
  margin-top: 15vh;
    margin-bottom: -2vh;
    width: 217vh;
    height: 35vh;
    .footer_logo_landing-logo{
      margin-bottom: 10vh;
      margin-left: 20vh;
      background-attachment: none;
      display: inline-block;
      width: 10%;
      float: left;
      img{
        float: left;
        padding-top: 15vh;
      }
      .logo-text{
        width: 10%;
         position: absolute;
         margin-left: 9vh;
         padding-top: 12vh;
         font-size: 120%;
  
        clear: both;
        .hiking-club-text{
          font-size: 70%;
        }
      }
    }
    .footer_text{
      clear: both;
      margin-left: 60vh;
      width:30%;
      position: absolute;
      margin-top: 15vh;
      margin-left: 90vh;
      
    }
    .footer-cr{
      margin-left: 150vh;
      float: right;
      position: absolute;
      margin-top: 15vh;
    }
    color: $color_of_text_button;
}