$img_for_header : "img/m-h-night.jpg";
$color_for_header : white;
$color_gray : white;
$color_blue : rgb(259,79,60);
$button_color : rgb(226,171,39);
$color_of_text_button : white;
$persent_of_radius_bottom_right : 50%;
$color_for_conteiner : rgb(58, 62, 78);
$gradient_for_footer : to right , rgb(215,158,38) , rgb(138,46,76);
$gray_for_footer : gray;
$color_for_body: rgb(30,32,42);