$img_for_header : "img/m-h-day.jpg";
$color_for_header : black;
$color_gray : #202020;
$color_blue : rgb(35,160,197);
$button_color : #A1C935;
$color_of_text_button : white;
$persent_of_radius_bottom_right : 50%;
$color_for_conteiner : rgb(33, 35, 46);
$gradient_for_footer : to right , #A1C935 , rgb(35,160,197);
$gray_for_footer : gray;
$color_for_body: white;